.form-profile__submit
{
  background-color: #000000;
  color: #FFFFFF;

  margin: 48px 36px 37px;
  padding: 0;

  height: 50px;
  width: 358px;

  border: none;
  border-radius: 2px;

  cursor: pointer;
  transition: opacity 0.5s linear;
}

@media screen and (max-width: 460px)
{
  .form-profile__submit
  {
    margin: 45px 22px 25px;
    height: 46px;
    width: 238px;
  }
}

.form-profile__submit:hover
{
  opacity: 0.8;
}
