.page
{
  background-color: #000000;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.input[type="checkbox"]
{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.header
{
  padding: 0;
  margin: 45px auto 0;

  max-width: 880px;

  display: flex;
  flex-direction: column;
}

.header__logo
{
  max-width: 142px;
}

.header__line
{
  padding: 0;
  margin: 41px 0 0;

  background-color: #545454;
  width: 100%;
  height: 1px;
}
