.popup__line
{
  margin: 13px 36px 0;
  padding: 0;

  height: 1px;
  width: calc(430px - 2*36px);

  background-color: #000000;
}

@media screen and (max-width: 460px)
{
  .popup__line
  {
    margin: 13px 22px 0;
    width: calc(282px - 2*22px);
  }
}
