.popup__close
{
  padding: 0;
  margin: 0;

  width: 32px;
  height: 32px;

  position: absolute;
  transform: translate(calc(430px + 8px), calc(-32px - 8px));

  border: 0;

  background-image: url(../../../images/close_btn.svg);
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 530px)
{
  .popup__close
  {
    transform: translate(calc(430px - 32px), calc(-32px - 8px));
  }
}

@media screen and (max-width: 460px)
{
  .popup__close
  {
    transform: translate(calc(282px - 20px), calc(-20px - 16px));

    width: 20px;
    height: 20px;
  }
}
