.profile__btnAdd
{
  padding: 0;
  margin: 0;
  margin-left: auto;

  width: 150px;
  height: 50px;

  background-color: #000000;
  background-image: url(../../../images/add-btn.svg);
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;

  border: 2px solid #ffffff;
}

@media screen and (max-width: 425px)
{
  .profile__btnAdd
  {
    margin: 36px auto 0;
    width: 100%;
    background-size: 16px 16px;
  }
}
